# Backend Framework
fastapi
uvicorn

# Environment Variables
python-dotenv

# HTTP Requests
requests

# LangChain
langchain
langchain-community
langchain-core

# Groq
groq

# LlamaIndex
llama-index

# Optional HuggingFace Embeddings
sentence-transformers
llama-index-embeddings-huggingface

# Pydantic
pydantic